{% extends "baseb.html" %}
{% block titulo_pagina %}Lista de Usuarios{% endblock %}
{% block content %}


<table>
    <tr>
        <th>ID</th>
        <th>nombre</th>
        <th>imagen perfil</th>
        <th>acciones</th>
    </tr>
    {% for usuario in clientes %}
    <tr>
        <td>{{ usuario.idCliente }}</td>
        <td>{{ usuario.namecli }}</td>      
        <td><img src="{{ url_for('static', filename=usuario.imgper) }}" alt="Perfil" style="width: 50px; height: 50px; border-radius: 50%;"></td>
    


        <td>
            <a href="{{ url_for('users.edit', id=usuario.idCliente) }}">Editar</a>
            <a href="{{ url_for('users.delete', id=usuario.idCliente) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
<a class="btn btn-primary btn-sm mb-1" href="{{ url_for('users.add') }}">Agregar Usuario</a>
<a class="btn btn-sm btn-success mb-1" href="{{ url_for('auth.dashboard') }}">Regresar</a>