<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciona un vehículo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='reserva.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='w3.css')}}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <!-- bottones de acciones -->
    <div  class="contenedor-botones">
        <div class="card p-3 contenedor-botones" style="width: 15rem;">
            <div>
                <form action="{{ url_for('auth.logout') }}" method="post">
                    <button type="submit" class="btn btn-danger w-100">
                        <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                    </button>
                </form>
            </div>
            <div>
                <button onclick="window.history.back()" class="btn btn-secondary boton-regresar">
                    <i class="bi bi-arrow-left-circle"></i> Regresar
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#tarifasModal">
                    <i class="bi bi-cash-stack"></i> Ver Tarifas
                </button>
            </div>
        </div>
    </div> 
    <div>
            <!-- parqueaderos IMG CON accion -->
        <h2 class="titulo-elegante">Selecciona un vehículo</h2><br><br><br>
        <div class="instructions">                                               
            <div class="contenedor-imagenes">
                <img src="{{ url_for('static', filename='imagenes/Mustang.jpg') }}" onclick="mostrarMensajeYRedirigir()"
                    alt="Auto" class="imagen-boton">
                <img src="{{ url_for('static', filename='imagenes/Motoo.webp') }}" onclick="mostrarMensajeYRedirigir()"
                    alt="Auto" class="imagen-boton">
                <img src="{{ url_for('static', filename='imagenes/avion.jpg') }}" onclick="mostrarMensajeYRedirigir()"
                    alt="Auto" class="imagen-boton">
            </div>        
            <br>
            <br>
            <br>
            <div class="contenedor-imagenes">
                <img src="{{ url_for('static', filename='imagenes/camion.jpg') }}" onclick="mostrarMensajeYRedirigir()"
                    alt="Auto" class="imagen-boton">
                <img src="{{ url_for('static', filename='imagenes/yate.avif') }}" onclick="mostrarMensajeYRedirigir()"
                    alt="Auto" class="imagen-boton">
                <img src="{{ url_for('static', filename='imagenes/bici.webp') }}" onclick="mostrarMensajeYRedirigir()"
                    alt="Auto" class="imagen-boton">
            </div>   
        </div>
    </div>
    <!-- Modal de Tarifas -->
    <div class="modal fade" id="tarifasModal" tabindex="-1" aria-labelledby="tarifasModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="tarifasModalLabel">Tarifas por Tipo de Vehículo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Pestañas para diferentes tipos -->
                    <ul class="nav nav-tabs" id="tarifasTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="carros-tab" data-bs-toggle="tab" data-bs-target="#carros"
                                type="button" role="tab">Carros</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="motos-tab" data-bs-toggle="tab" data-bs-target="#motos"
                                type="button" role="tab">Motos</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="avion-tab" data-bs-toggle="tab" data-bs-target="#avion"
                                type="button" role="tab">Aviones</button>
                        </li>
                
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tractomula-tab" data-bs-toggle="tab" data-bs-target="#tractomula"
                                type="button" role="tab">Tractomulas</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="yate-tab" data-bs-toggle="tab" data-bs-target="#yate"
                                type="button" role="tab">Yates</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="ciclas-tab" data-bs-toggle="tab" data-bs-target="#ciclas"
                                type="button" role="tab">Ciclas</button>
                        </li>
                    </ul>
          
                  
                    <!-- Contenido de las pestañas -->
                    <div class="tab-content p-3" id="tarifasTabsContent">
                        <!-- Tab Carros -->
                        <div class="tab-pane fade show active" id="carros" role="tabpanel">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Horas</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0 - 1 hora</td>
                                        <td>$2.000</td>
                                    </tr>
                                    <tr>
                                        <td>1 - 2 horas</td>
                                        <td>$3.500</td>
                                    </tr>
                                    <tr>
                                        <td>2 - 4 horas</td>
                                        <td>$5.000</td>
                                    </tr>
                                    <tr>
                                        <td>4 - 8 horas</td>
                                        <td>$8.000</td>
                                    </tr>
                                    <tr>
                                        <td>8 - 12 horas</td>
                                        <td>$10.000</td>
                                    </tr>
                                    <tr>
                                        <td>12 - 24 horas</td>
                                        <td>$15.000</td>
                                    </tr>
                                    <tr>
                                        <td>Día adicional</td>
                                        <td>$15.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Tab Motos -->
                        <div class="tab-pane fade" id="motos" role="tabpanel">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Horas</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0 - 1 hora</td>
                                        <td>$1.000</td>
                                    </tr>
                                    <tr>
                                        <td>1 - 2 horas</td>
                                        <td>$1.800</td>
                                    </tr>
                                    <tr>
                                        <td>2 - 4 horas</td>
                                        <td>$3.000</td>
                                    </tr>
                                    <tr>
                                        <td>4 - 8 horas</td>
                                        <td>$4.500</td>
                                    </tr>
                                    <tr>
                                        <td>8 - 12 horas</td>
                                        <td>$6.000</td>
                                    </tr>
                                    <tr>
                                        <td>12 - 24 horas</td>
                                        <td>$8.000</td>
                                    </tr>
                                    <tr>
                                        <td>Día adicional</td>
                                        <td>$8.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Tab Aviones -->
                        <div class="tab-pane fade" id="avion" role="tabpanel">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Horas</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0 - 1 hora</td>
                                        <td>$50.000</td>
                                    </tr>
                                    <tr>
                                        <td>1 - 2 horas</td>
                                        <td>$90.000</td>
                                    </tr>
                                    <tr>
                                        <td>2 - 4 horas</td>
                                        <td>$150.000</td>
                                    </tr>
                                    <tr>
                                        <td>4 - 8 horas</td>
                                        <td>$250.000</td>
                                    </tr>
                                    <tr>
                                        <td>8 - 12 horas</td>
                                        <td>$350.000</td>
                                    </tr>
                                    <tr>
                                        <td>12 - 24 horas</td>
                                        <td>$500.000</td>
                                    </tr>
                                    <tr>
                                        <td>Día adicional</td>
                                        <td>$500.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Tab Tractomulas -->
                        <div class="tab-pane fade" id="tractomula" role="tabpanel">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Horas</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0 - 1 hora</td>
                                        <td>$10.000</td>
                                    </tr>
                                    <tr>
                                        <td>1 - 2 horas</td>
                                        <td>$18.000</td>
                                    </tr>
                                    <tr>
                                        <td>2 - 4 horas</td>
                                        <td>$30.000</td>
                                    </tr>
                                    <tr>
                                        <td>4 - 8 horas</td>
                                        <td>$50.000</td>
                                    </tr>
                                    <tr>
                                        <td>8 - 12 horas</td>
                                        <td>$70.000</td>
                                    </tr>
                                    <tr>
                                        <td>12 - 24 horas</td>
                                        <td>$100.000</td>
                                    </tr>
                                    <tr>
                                        <td>Día adicional</td>
                                        <td>$100.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
         

                        <!-- Tab Yates -->
                        <div class="tab-pane fade" id="yate" role="tabpanel">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Horas</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0 - 1 hora</td>
                                        <td>$30.000</td>
                                    </tr>
                                    <tr>
                                        <td>1 - 2 horas</td>
                                        <td>$55.000</td>
                                    </tr>
                                    <tr>
                                        <td>2 - 4 horas</td>
                                        <td>$90.000</td>
                                    </tr>
                                    <tr>
                                        <td>4 - 8 horas</td>
                                        <td>$150.000</td>
                                    </tr>
                                    <tr>
                                        <td>8 - 12 horas</td>
                                        <td>$200.000</td>
                                    </tr>
                                    <tr>
                                        <td>12 - 24 horas</td>
                                        <td>$300.000</td>
                                    </tr>
                                    <tr>
                                        <td>Día adicional</td>
                                        <td>$300.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Tab Ciclas -->
                        <div class="tab-pane fade" id="ciclas" role="tabpanel">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Horas</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0 - 1 hora</td>
                                        <td>$500</td>
                                    </tr>
                                    <tr>
                                        <td>1 - 2 horas</td>
                                        <td>$800</td>
                                    </tr>
                                    <tr>
                                        <td>2 - 4 horas</td>
                                        <td>$1.200</td>
                                    </tr>
                                    <tr>
                                        <td>4 - 8 horas</td>
                                        <td>$1.800</td>
                                    </tr>
                                    <tr>
                                        <td>8 - 12 horas</td>
                                        <td>$2.400</td>
                                    </tr>
                                    <tr>
                                        <td>12 - 24 horas</td>
                                        <td>$3.000</td>
                                    </tr>
                                    <tr>
                                        <td>Día adicional</td>
                                        <td>$3.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function mostrarMensajeYRedirigir() {       
            window.location.href = 'indexespacio';
        }
        function openModal() {
            document.getElementById('modal').style.display = 'flex';
        }
        function cerrarModal() {
            document.getElementById('modal').style.display = 'none';
        }
    </script>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>